.form-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.form-btn-border {
    border: 1px solid #007bff;
    border-bottom: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 25%;
    text-align: center;
    box-shadow: 1px 1px 3px #a9a9a9;
}